
.*
*.aps
*.lnk
*.sdf
*.opensdf
*.suo
*.vcxproj.user
*.so
*.o

simulator/proj.win32/LuaHostWin32/Debug
project.xcworkspace/
xcuserdata/
lib/proj.win32/Debug
lib/luajit2/LuaJIT-2.0.0/src/*.lib
lib/luajit2/LuaJIT-2.0.0/src/*.dll
lib/luajit2/LuaJIT-2.0.0/src/*.exp
lib/luajit2/LuaJIT-2.0.0/src/*.exe
lib/luajit2/LuaJIT-2.0.0/src/*.a
lib/luajit2/LuaJIT-2.0.0/src/host/buildvm
lib/luajit2/LuaJIT-2.0.0/src/host/buildvm_arch.h
lib/luajit2/LuaJIT-2.0.0/src/host/minilua
lib/luajit2/LuaJIT-2.0.0/src/jit/vmdef.lua
lib/luajit2/LuaJIT-2.0.0/src/lj_bcdef.h
lib/luajit2/LuaJIT-2.0.0/src/lj_ffdef.h
lib/luajit2/LuaJIT-2.0.0/src/lj_folddef.h
lib/luajit2/LuaJIT-2.0.0/src/lj_libdef.h
lib/luajit2/LuaJIT-2.0.0/src/lj_recdef.h
lib/luajit2/LuaJIT-2.0.0/src/lj_vm.s
lib/luajit2/LuaJIT-2.0.0/src/luajit

sample/CoinFlip/proj.android/bin/
sample/CoinFlip/proj.android/gen/
sample/CoinFlip/proj.android/lint.xml
sample/CoinFlip/proj.android/obj/
sample/CoinFlip/proj.android/assets/
sample/CoinFlip/proj.android/libs/

sample/Benchmark/proj.android/bin/
sample/Benchmark/proj.android/gen/
sample/Benchmark/proj.android/lint.xml
sample/Benchmark/proj.android/obj/
sample/Benchmark/proj.android/assets/
sample/Benchmark/proj.android/libs/

sample/Physics/proj.android/bin/
sample/Physics/proj.android/gen/
sample/Physics/proj.android/lint.xml
sample/Physics/proj.android/obj/
sample/Physics/proj.android/assets/
sample/Physics/proj.android/libs/
sample/Physics/proj.win32/Debug/


