
.*
*.aps
*.lnk
*.sdf
*.opensdf
*.suo
*.vcxproj.user
*.so
*.o

debug.log

lib/cocos2d-x/cocos2dx/platform/android/java/bin
lib/cocos2d-x/cocos2dx/platform/android/java/gen

player/proj.win32/Debug
project.xcworkspace/
xcuserdata/
lib/proj.win32/Debug

sample/luajavabridge/proj.android/bin/
sample/luajavabridge/proj.android/gen/
sample/luajavabridge/proj.android/lint.xml
sample/luajavabridge/proj.android/obj/
sample/luajavabridge/proj.android/assets/
sample/luajavabridge/proj.android/libs/

