[submodule "hosts/libs/cocos2d-x"]
	path = hosts/libs/cocos2d-x
url=git://github.com/dualface/cocos2d-x.git
[submodule "hosts/libs/cocos2d-x-extensions"]
	path = hosts/libs/cocos2d-x-extensions
url=git://github.com/dualface/cocos2d-x-extensions.git
